In [5]:
import pandas as pd
data = pd.read_csv('data\wine_cleared.csv')
#print(data['country'].value_counts())
data['is_france'] = data['country'].apply(lambda x: 1 if x == 'France' else 0)
data['is_italy'] = data['country'].apply(lambda x: 1 if x == 'Italy' else 0)
print(data['is_france'].sum())
print(data['is_italy'].sum())

22093
19540

In [69]:
regex = '\d{4}' # регулярное выражение для нахождения чисел
data['year'] = data['title'].str.findall(regex).str.get(0)
data['year2'] = data['title'].str.findall(regex).str.get(0)
data['year'] = pd.to_numeric(data['year'])
data['old_wine'] = data['year'].apply(lambda x: 1 if x < 2010 else 0)
print(data['old_wine'].sum())
#data['year'] = pd.to_datetime(data['year'], errors = 'coerce')

print(data['year'])

39781
0         2013.0
1         2011.0
2         2013.0
3         2013.0
4         2012.0
           ...
129966    2013.0
129967    2004.0
129968    2013.0
129969    2012.0
129970    2012.0
Name: year, Length: 129971, dtype: float64

In [16]:
regex = '\(([^()]+)\)'
result = data['title'].str.findall(regex).str.get(0)
print(result)

0                           Etna
1                          Douro
2              Willamette Valley
3            Lake Michigan Shore
4              Willamette Valley
                   ...
129966    Erben Müller-Burggraef
129967                    Oregon
129968                    Alsace
129969                    Alsace
129970                    Alsace
Name: title, Length: 129971, dtype: object

In [31]:
country_population = pd.read_csv('data\country_population.csv', sep=';')
print(country_population[country_population['country']=='Italy'])
df = data.join(country_population.set_index('country'), on='country')
print(df.loc[:,['title','population']])

   country  population
24   Italy  59,097,904
                                                    title   population
0                       Nicosia 2013 Vulkà Bianco  (Etna)   59,097,904
1           Quinta dos Avidagos 2011 Avidagos Red (Douro)   10,347,892
2           Rainstorm 2013 Pinot Gris (Willamette Valley)  333,022,386
3       St. Julian 2013 Reserve Late Harvest Riesling ...  333,022,386
4       Sweet Cheeks 2012 Vintner's Reserve Wild Child...  333,022,386
...                                                   ...          ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...   83,129,285
129967                  Citation 2004 Pinot Noir (Oregon)  333,022,386
129968  Domaine Gresser 2013 Kritt Gewurztraminer (Als...   68,035,000
129969      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)   68,035,000
129970  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...   68,035,000

[129972 rows x 2 columns]

In [38]:
country_area = pd.read_csv('data\country_area.csv', sep=';')
#print(country_area)
df2 = data.join(country_area.set_index('country'), on='country')
print(df2[df2['title']=='Gård 2014 Grand Klasse Reserve Lawrence Vineyards Viognier (Columbia Valley (WA))'])

    Unnamed: 0 country                                        description
94          94      US  Barrel notes are prominent, with aromas of Cre...  \

                                designation  points  price    province
94  Grand Klasse Reserve Lawrence Vineyards      88   22.0  Washington  \

                region_1       taster_name taster_twitter_handle
94  Columbia Valley (WA)  Sean P. Sullivan         @wawinereport  \

                                                title   variety winery
94  Gård 2014 Grand Klasse Reserve Lawrence Vineya...  Viognier   Gård  \

    is_france  is_italy    year  old_wine       area
94          0         0  2014.0         0  9372610.0

In [45]:
# инициализируем информацию о звонках
calls_list = [
    [460, '2013-12-17 04:55:39', '2013-12-17 04:55:44', '2013-12-17 04:55:45'],
    [12, '2013-12-16 20:03:20', '2013-12-16 20:03:22', '2013-12-16 20:07:13'],
    [56, '2013-12-16 20:03:20', '2013-12-16 20:03:20', '2013-12-16 20:05:04'],
    [980, '2013-12-16 20:03:20','2013-12-16 20:03:27', '2013-12-16 20:03:29'],
    [396, '2013-12-16 20:08:27', '2013-12-16 20:08:28','2013-12-16 20:12:03'],
    [449, '2013-12-16 20:03:20', '2013-12-16 20:03:25','2013-12-16 20:05:00'],
    [397, '2013-12-16 20:08:25', '2013-12-16 20:08:27', '2013-12-16 20:09:59'],
    [398, '2013-12-16 20:01:23', '2013-12-16 20:01:23', '2013-12-16 20:04:58'],
    [452, '2013-12-16 20:03:20', '2013-12-16 20:03:21','2013-12-16 20:04:55'],
    [440, '2013-12-16 20:03:20', '2013-12-16 20:04:26', '2013-12-16 20:04:32']
]

calls = pd.DataFrame(calls_list, columns = ['client_id',  'agent_date', 'created_at' ,'end_date'])

# преобразовываем признаки в формат datetime для удобной работы

calls['agent_date'] = pd.to_datetime(calls['agent_date'])
calls['created_at'] = pd.to_datetime(calls['created_at'])
calls['end_date'] = pd.to_datetime(calls['end_date'])
#print(calls)
calls['duration'] = (calls['end_date'] - calls['created_at']).dt.seconds
calls['time_connection'] = (calls['created_at'] - calls['agent_date']).dt.seconds
calls['is_connection'] = calls['duration'].apply(lambda x: 1 if x>10 else 0)
calls['time_diff'] = (calls['end_date'] - calls['agent_date']).dt.seconds
print(calls['time_diff'].sum())
calls = calls.drop(columns=['agent_date', 'created_at' ,'end_date'], axis=1)

1144

In [70]:
#ddd = pd.to_datetime('2022-01-12 00:00:00')
data['year2'] = pd.to_datetime(data['year2'], errors = 'coerce')
#data['const'] = pd.to_datetime('2022-01-12 00:00:00')
data['years_diff'] = (pd.to_datetime('2022-01-12') - data['year2']).dt.days
print(data['years_diff'].max())
#print(data.loc[:,['const','year']])

98627.0

In [ ]:
import category_encoders as ce 
clothing_list = [
    ['xxs', 'dress'],
    ['xxs', 'skirt'],
    ['xs', 'dress'],
    ['s', 'skirt'],
    ['m', 'dress'],
    ['l', 'shirt'],
    ['s', 'coat'],
    ['m', 'coat'],
    ['xxl', 'shirt'],
    ['l', 'dress']
]

clothing = pd.DataFrame(clothing_list, columns = ['size',  'type'])

# создаем объект OrdinalEncoder, col - имя столбца, mapping - словарь с описанием кодировки
ord_encoder = ce.OrdinalEncoder(mapping=[{
	'col': 'size',
	'mapping': {'xxs': 1, 'xs': 2, 's': 3, 
                'm': 4, 'l': 5, 'xxl': 6}
}])
# применяем трансформацию к столбцу
data_bin = ord_encoder.fit_transform(clothing[['size']])
# добавляем результат к исходному DataFrame
clothing = pd.concat([clothing, data_bin], axis=1)
print(clothing)

In [ ]:
encoder = ce.OneHotEncoder(cols=['type'], use_cat_names=True)
type_bin = encoder.fit_transform(clothing['type'])
clothing = pd.concat([clothing, type_bin], axis=1)
print(clothing)

In [81]:
encoder = ce.OneHotEncoder(cols=['taster_name'], use_cat_names=True)
type_bin = encoder.fit_transform(data['taster_name'])
dfa = pd.concat([data, type_bin], axis=1)
print(data.shape)
print(dfa.shape)

(129971, 20)
(129971, 40)

In [83]:
bin_encoder = ce.BinaryEncoder(cols=['country']) # указываем столбец для кодирования
type_bin = bin_encoder.fit_transform(data['country'])
dfc = pd.concat([data, type_bin], axis=1)
print(data.shape)
print(dfc.shape)

(129971, 20)
(129971, 26)

In [86]:
bin_encoder = ce.BinaryEncoder(cols=['taster_twitter_handle']) # указываем столбец для кодирования
type_bin = bin_encoder.fit_transform(data['taster_twitter_handle'])
dfc = pd.concat([data, type_bin], axis=1)
print(data.shape)
print(dfc.shape)

(129971, 20)
(129971, 25)

In [95]:
list_of_dicts = [
 {'product': 'Product1', 'price': 1200, 'payment_type': 'Mastercard'},
 {'product': 'Product2', 'price': 3600, 'payment_type': 'Visa'},
 {'product': 'Product3', 'price': 7500, 'payment_type': 'Amex'}
]
df = pd.DataFrame(list_of_dicts)
ord_encoder = ce.OrdinalEncoder(mapping=[{
	'col': 'product',
	'mapping': {'Product1': 1, 'Product2': 2, 'Product3': 3}
}])
data_bin = ord_encoder.fit_transform(df[['product']])
# добавляем результат к исходному DataFrame
df = pd.concat([df, data_bin], axis=1)

encoder = ce.OneHotEncoder(cols=['payment_type'], use_cat_names=True)
type_bin = encoder.fit_transform(df['payment_type'])
df = pd.concat([df, type_bin], axis=1)

print(df)

    product  price payment_type  product  payment_type_Mastercard
0  Product1   1200   Mastercard        1                        1  \
1  Product2   3600         Visa        2                        0
2  Product3   7500         Amex        3                        0

   payment_type_Visa  payment_type_Amex
0                  0                  0
1                  1                  0
2                  0                  1