<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [3]:
import pandas as pd
import psycopg2

In [4]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python 
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [5]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [6]:
# текст запроса
query_3_1 = f'''select COUNT(*)
                from vacancies
'''

In [7]:
# результат запроса
df = pd.read_sql_query(query_3_1,connection)
print(df)

   count
0  49197

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\4176647889.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1,connection)

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [8]:
# текст запроса
query_3_2 = f'''select COUNT(*)
                from employers
'''

In [9]:
# результат запроса
df = pd.read_sql_query(query_3_2,connection)
print(df)

   count
0  23501

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3754870664.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_2,connection)

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [10]:
# текст запроса
query_3_3 = f'''select COUNT(*)
                from areas
'''

In [11]:
# результат запроса
df = pd.read_sql_query(query_3_3,connection)
print(df)

   count
0   1362

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3933597620.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_3,connection)

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [12]:
# текст запроса
query_3_4 = f'''select COUNT(*)
                from industries
'''

In [13]:
# результат запроса
df = pd.read_sql_query(query_3_4,connection)
print(df)

   count
0    294

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3567304921.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_4,connection)

***

In [14]:
# выводы по предварительному анализу данных
#Кво вакансий - 49197, работодателей - 23501, регионов - 1362, сфер деятельности - 294. Такое ощущение, что в среднем от одного работодателя предлагается примерно 2 вакансии

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [15]:
# текст запроса
query_4_1 = f'''SELECT  
                       a.name,
                       COUNT(v.id)
                FROM areas a
                JOIN vacancies v ON a.id = v.area_id
                GROUP BY 1
                ORDER BY 2 DESC
                LIMIT 5
'''

In [16]:
# результат запроса
df = pd.read_sql_query(query_4_1,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\2353814535.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_1,connection)

              name  count
0           Москва   5333
1  Санкт-Петербург   2851
2            Минск   2112
3      Новосибирск   2006
4           Алматы   1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [17]:
# текст запроса
query_4_2 = f'''SELECT 
                       v.name
                FROM vacancies v
                WHERE (v.salary_from IS NOT NULL)OR(v.salary_to IS NOT NULL)
                
'''

In [18]:
# результат запроса
df = pd.read_sql_query(query_4_2,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\1978359848.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_2,connection)

                                                    name
0                                    Компьютерный Мастер
1      Специалист службы поддержки с техническими зна...
2                                    Инженер-программист
3                                Системный администратор
4                                 Ведущий программист 1C
...                                                  ...
24068  Специалист сопровождения медицинской информаци...
24069                          Аналитик бизнес-процессов
24070              Технический писатель (Платформа СБИС)
24071                         Начальник сервисной службы
24072                             Senior IOS разработчик

[24073 rows x 1 columns]

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [19]:
# текст запроса
query_4_3 = f'''SELECT 
                       AVG(v.salary_from),'from' type_object
                FROM vacancies v
                WHERE (v.salary_from IS NOT NULL)
                UNION ALL
                SELECT 
                       AVG(v.salary_to),'to' type_object
                FROM vacancies v
                WHERE (v.salary_to IS NOT NULL)
                
'''

In [20]:
# результат запроса
df = pd.read_sql_query(query_4_3,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\1454964840.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_3,connection)

             avg type_object
0  110536.741923          to
1   71064.657901        from

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [21]:
# текст запроса
query_4_4 = f'''SELECT 
                       v.schedule||'+'||v.employment para,
                       COUNT(v.schedule||'+'||v.employment) se
                FROM vacancies v
                GROUP BY 1
                ORDER BY 2 DESC
                
'''

In [22]:
# результат запроса
df = pd.read_sql_query(query_4_4,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3098988642.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_4,connection)

                                    para     se
0           Полный день+Полная занятость  35367
1      Удаленная работа+Полная занятость   7802
2         Гибкий график+Полная занятость   1593
3   Удаленная работа+Частичная занятость   1312
4        Сменный график+Полная занятость    940
5                 Полный день+Стажировка    569
6        Вахтовый метод+Полная занятость    367
7        Полный день+Частичная занятость    347
8      Гибкий график+Частичная занятость    312
9           Полный день+Проектная работа    141
10     Удаленная работа+Проектная работа    133
11              Гибкий график+Стажировка    116
12    Сменный график+Частичная занятость    101
13           Удаленная работа+Стажировка     64
14        Гибкий график+Проектная работа     18
15             Сменный график+Стажировка     12
16       Вахтовый метод+Проектная работа      2
17       Сменный график+Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [23]:
# текст запроса
query_4_5 = f'''SELECT 
                       experience,
                       COUNT(v.id) cnt
                FROM vacancies v
                GROUP BY 1
                ORDER BY 2
                
'''

In [24]:
# результат запроса
df = pd.read_sql_query(query_4_5,connection)
print(df)

           experience    cnt
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\1906758855.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_5,connection)

***

In [25]:
# выводы по детальному анализу вакансий
#Пик вакансий приходится на крупные города мегаполисы Москва, Санкт-Петербург, Минск, Новосибирск, Алма-ата. Именно в эти места и будут проходить пути трудовой миграции.
#Количесвто вакансий 49197. Однако я наблюдаю, что у меньше половины из них заполнены поля границ вилки цен. Вероятно работодатель хочет определить ЗП по результатам собеседования и исходя 
# из количества пртендентов на вакансию. В указанных же границах вилки ЗП в среднем по верхней границе предлагается 111 тыс. руб., а по нижней 71 тыс. руб.
# Подавляющее количество вакансий требуется по стандартной схеме Полный день+Полная занятость. А из оставшегося количества есть немало предложений по удаленной работе. Наибольшую 
# востребованность на рынке труда имют специалисты с опытом работы от 1 до 3 лет. Наименьшую с опытом работы более 6 лет.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [26]:
# текст запроса
query_5_1 = f'''SELECT 
                       e.name,
                       COUNT(v.id) cnt
                FROM employers e
                JOIN vacancies v ON e.id = v.employer_id
                GROUP BY 1
                ORDER BY 2 DESC
                
'''

In [27]:
# результат запроса
df = pd.read_sql_query(query_5_1,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3082969160.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_1,connection)

                         name   cnt
0                      Яндекс  1933
1                  Ростелеком   491
2                    Тинькофф   444
3                        СБЕР   428
4               Газпром нефть   331
...                       ...   ...
14761            им. Тьюринга     1
14762        LLC Novalab Tech     1
14763   Компания Мир упаковки     1
14764  Лифинцев Олег Иванович     1
14765      ТрансЭнергоХолдинг     1

[14766 rows x 2 columns]

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [93]:
# текст запроса
query_5_2 = f'''SELECT 
                       a.name n1,
                       
                       COUNT(DISTINCT v.employer_id) cnt1,
                       COUNT(v.id) cnt2
                FROM vacancies v
                LEFT JOIN areas a     ON a.id = v.area_id
                WHERE v.employer_id is null
                
                GROUP BY 1
                a.name n1,GROUP BY 1
                       COUNT(v.employer_id) cnt1,
                       COUNT(v.id) cnt2
                ORDER BY 2##WHERE v.id is null
                
'''
query_5_2_2 = f'''SELECT a.name n1,
                         COUNT(v.id) cnt1,
                         a.id aid,
                         COUNT(e.id) cnt2
                         
                       
                FROM areas a
                LEFT JOIN vacancies v ON a.id = v.area_id
                     JOIN employers e ON a.id = e.area     
                WHERE v.id is null
                GROUP BY a.id
                ORDER BY 4 DESC
                LIMIT 10
'''

In [94]:
# результат запроса
df = pd.read_sql_query(query_5_2_2,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\2188281072.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_2_2,connection)

                      n1  cnt1   aid  cnt2
0                 Россия     0   113   410
1              Казахстан     0    40   207
2     Московская область     0  2019    75
3     Краснодарский край     0  1438    19
4               Беларусь     0    16    18
5     Ростовская область     0  1530    18
6            Азербайджан     0     9    17
7  Нижегородская область     0  1679    16
8   Республика Татарстан     0  1624    16
9             Узбекистан     0    97    15

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [30]:
# текст запроса

In [31]:
# результат запроса

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [32]:
# текст запроса

In [33]:
# результат запроса

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [34]:
# текст запроса

In [35]:
# результат запроса

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [36]:
# текст запроса

In [37]:
# результат запроса

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [38]:
# код для получения списка городов-милионников

In [39]:
# текст запроса

In [40]:
# результат запроса

***

In [41]:
# выводы по анализу работодателей

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [42]:
# текст запроса

In [43]:
# результат запроса

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [44]:
# текст запроса

In [45]:
# результат запроса

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [46]:
# текст запроса

In [47]:
# результат запроса

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [48]:
# текст запроса

In [49]:
# результат запроса

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [50]:
# текст запроса

In [51]:
# результат запроса

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [52]:
# текст запроса

In [53]:
# результат запроса

***

In [54]:
# выводы по предметному анализу

# Общий вывод по проекту

In [55]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования