<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [3]:
import pandas as pd
import psycopg2

In [4]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python 
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [5]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [6]:
# текст запроса
query_3_1 = f'''select COUNT(*)
                from vacancies
'''

In [7]:
# результат запроса
df = pd.read_sql_query(query_3_1,connection)
print(df)

   count
0  49197

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\4176647889.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1,connection)

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [8]:
# текст запроса
query_3_2 = f'''select COUNT(*)
                from employers
'''

In [9]:
# результат запроса
df = pd.read_sql_query(query_3_2,connection)
print(df)

   count
0  23501

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3754870664.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_2,connection)

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [10]:
# текст запроса
query_3_3 = f'''select COUNT(*)
                from areas
'''

In [11]:
# результат запроса
df = pd.read_sql_query(query_3_3,connection)
print(df)

   count
0   1362

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3933597620.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_3,connection)

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [12]:
# текст запроса
query_3_4 = f'''select COUNT(*)
                from industries
'''

In [13]:
# результат запроса
df = pd.read_sql_query(query_3_4,connection)
print(df)

   count
0    294

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3567304921.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_4,connection)

***

In [14]:
# выводы по предварительному анализу данных
#Кво вакансий - 49197, работодателей - 23501, регионов - 1362, сфер деятельности - 294. Такое ощущение, что в среднем от одного работодателя предлагается примерно 2 вакансии

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [15]:
# текст запроса
query_4_1 = f'''SELECT  
                       a.name,
                       COUNT(v.id)
                FROM areas a
                JOIN vacancies v ON a.id = v.area_id
                GROUP BY 1
                ORDER BY 2 DESC
                LIMIT 5
'''

In [16]:
# результат запроса
df = pd.read_sql_query(query_4_1,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\2353814535.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_1,connection)

              name  count
0           Москва   5333
1  Санкт-Петербург   2851
2            Минск   2112
3      Новосибирск   2006
4           Алматы   1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [17]:
# текст запроса
query_4_2 = f'''SELECT 
                       v.name
                FROM vacancies v
                WHERE (v.salary_from IS NOT NULL)OR(v.salary_to IS NOT NULL)
                
'''

In [18]:
# результат запроса
df = pd.read_sql_query(query_4_2,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\1978359848.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_2,connection)

                                                    name
0                                    Компьютерный Мастер
1      Специалист службы поддержки с техническими зна...
2                                    Инженер-программист
3                                Системный администратор
4                                 Ведущий программист 1C
...                                                  ...
24068  Специалист сопровождения медицинской информаци...
24069                          Аналитик бизнес-процессов
24070              Технический писатель (Платформа СБИС)
24071                         Начальник сервисной службы
24072                             Senior IOS разработчик

[24073 rows x 1 columns]

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [19]:
# текст запроса
query_4_3 = f'''SELECT 
                       AVG(v.salary_from),'from' type_object
                FROM vacancies v
                WHERE (v.salary_from IS NOT NULL)
                UNION ALL
                SELECT 
                       AVG(v.salary_to),'to' type_object
                FROM vacancies v
                WHERE (v.salary_to IS NOT NULL)
                
'''

In [20]:
# результат запроса
df = pd.read_sql_query(query_4_3,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\1454964840.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_3,connection)

             avg type_object
0  110536.741923          to
1   71064.657901        from

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [21]:
# текст запроса
query_4_4 = f'''SELECT 
                       v.schedule||'+'||v.employment para,
                       COUNT(v.schedule||'+'||v.employment) se
                FROM vacancies v
                GROUP BY 1
                ORDER BY 2 DESC
                
'''

In [22]:
# результат запроса
df = pd.read_sql_query(query_4_4,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3098988642.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_4,connection)

                                    para     se
0           Полный день+Полная занятость  35367
1      Удаленная работа+Полная занятость   7802
2         Гибкий график+Полная занятость   1593
3   Удаленная работа+Частичная занятость   1312
4        Сменный график+Полная занятость    940
5                 Полный день+Стажировка    569
6        Вахтовый метод+Полная занятость    367
7        Полный день+Частичная занятость    347
8      Гибкий график+Частичная занятость    312
9           Полный день+Проектная работа    141
10     Удаленная работа+Проектная работа    133
11              Гибкий график+Стажировка    116
12    Сменный график+Частичная занятость    101
13           Удаленная работа+Стажировка     64
14        Гибкий график+Проектная работа     18
15             Сменный график+Стажировка     12
16       Вахтовый метод+Проектная работа      2
17       Сменный график+Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [23]:
# текст запроса
query_4_5 = f'''SELECT 
                       experience,
                       COUNT(v.id) cnt
                FROM vacancies v
                GROUP BY 1
                ORDER BY 2
                
'''

In [24]:
# результат запроса
df = pd.read_sql_query(query_4_5,connection)
print(df)

           experience    cnt
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\1906758855.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_5,connection)

***

In [25]:
# выводы по детальному анализу вакансий
#Пик вакансий приходится на крупные города мегаполисы Москва, Санкт-Петербург, Минск, Новосибирск, Алма-ата. Именно в эти места и будут проходить пути трудовой миграции.
#Количесвто вакансий 49197. Однако я наблюдаю, что у меньше половины из них заполнены поля границ вилки цен. Вероятно работодатель хочет определить ЗП по результатам собеседования и исходя 
# из количества пртендентов на вакансию. В указанных же границах вилки ЗП в среднем по верхней границе предлагается 111 тыс. руб., а по нижней 71 тыс. руб.
# Подавляющее количество вакансий требуется по стандартной схеме Полный день+Полная занятость. А из оставшегося количества есть немало предложений по удаленной работе. Наибольшую 
# востребованность на рынке труда имют специалисты с опытом работы от 1 до 3 лет. Наименьшую с опытом работы более 6 лет.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [26]:
# текст запроса
query_5_1 = f'''SELECT 
                       e.name,
                       COUNT(v.id) cnt
                FROM employers e
                JOIN vacancies v ON e.id = v.employer_id
                GROUP BY 1
                ORDER BY 2 DESC
                
'''

In [27]:
# результат запроса
df = pd.read_sql_query(query_5_1,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3082969160.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_1,connection)

                         name   cnt
0                      Яндекс  1933
1                  Ростелеком   491
2                    Тинькофф   444
3                        СБЕР   428
4               Газпром нефть   331
...                       ...   ...
14761            им. Тьюринга     1
14762        LLC Novalab Tech     1
14763   Компания Мир упаковки     1
14764  Лифинцев Олег Иванович     1
14765      ТрансЭнергоХолдинг     1

[14766 rows x 2 columns]

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [98]:
# текст запроса
query_5_2 = f'''SELECT a.name n1,
                         COUNT(v.id) cnt1,
                         COUNT(e.id) cnt2       
                FROM areas a
                LEFT JOIN vacancies v ON a.id = v.area_id
                     JOIN employers e ON a.id = e.area     
                WHERE v.id is null
                GROUP BY a.id
                ORDER BY 3 DESC
                LIMIT 1
'''

In [99]:
# результат запроса
df = pd.read_sql_query(query_5_2,connection)
print(df)

       n1  cnt1  cnt2
0  Россия     0   410

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\237364138.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_2,connection)

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [149]:
# текст запроса
query_5_3 = f'''SELECT v.employer_id,
                       COUNT(DISTINCT v.area_id) cnt2             
                FROM vacancies v
                GROUP BY v.employer_id
                ORDER BY 2 DESC
                LIMIT 10
'''

In [150]:
# результат запроса
df = pd.read_sql_query(query_5_3,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\1534297454.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_3,connection)

   employer_id  cnt2
0         1740   181
1         2748   152
2      5724811   116
3      5130287    88
4      3682876    71
5         7944    63
6         3776    55
7        53797    49
8         4352    48
9      3776815    48

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [157]:
# текст запроса
query_5_4 = f'''SELECT e.name,
                       e.id,
                       ei.employer_id           
                FROM employers e
                LEFT JOIN employers_industries ei ON e.id = ei.employer_id
                WHERE ei.employer_id is Null
'''

In [158]:
# результат запроса
df = pd.read_sql_query(query_5_4,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\3921292539.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_4,connection)

                                                   name       id employer_id
0     филиал ФКУ Налог-Сервис ФНС России в Республик...  1840010        None
1                                            НПО Прибор  3251713        None
2                                              DatsTeam  4437201        None
3     ЧЕЛЯБИНСКИЙ ЗАВОД ТЕХНОЛОГИЧЕСКОЙ ОСНАСТКИ ИМЕ...  2904953        None
4                                          Арктик СПГ 2  3731049        None
...                                                 ...      ...         ...
8414                                     Волжские Термы  4653030        None
8415              МВД России по Республике Башкортостан  2523114        None
8416                                              Энова  6160365        None
8417                                              МарКо  1441774        None
8418                                        ГИМ-КЛИНИКА  5636092        None

[8419 rows x 3 columns]

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [165]:
# текст запроса
query_5_5 = f'''SELECT e.name,
                       COUNT(DISTINCT ei.industry_id)
                FROM employers e
                JOIN employers_industries ei ON e.id = ei.employer_id
                GROUP BY e.id
                HAVING COUNT(DISTINCT ei.industry_id) = 4
                ORDER BY 1 
'''

In [166]:
# результат запроса
df = pd.read_sql_query(query_5_5,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\1127604881.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_5,connection)

                 name  count
0        101 Интернет      4
1            21vek.by      4
2                2ГИС      4
3                  2К      4
4         4 пикселя +      4
...               ...    ...
1133            ЮРИОН      4
1134  ЮТИП Технологии      4
1135           ЯКласс      4
1136            ЯрНео      4
1137    Яшин&Партнёры      4

[1138 rows x 2 columns]

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [167]:
# текст запроса
query_5_6 = f'''SELECT i.name,
                       COUNT(DISTINCT ei.employer_id)
                FROM industries i
                JOIN employers_industries ei ON i.id = ei.industry_id
                WHERE i.name = 'Разработка программного обеспечения'
                GROUP BY i.id
                
              
'''

In [168]:
# результат запроса
df = pd.read_sql_query(query_5_6,connection)
print(df)

                                  name  count
0  Разработка программного обеспечения   3553

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\1694335732.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_6,connection)

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [195]:
# код для получения списка городов-милионников
town_million = ('Москва','Санкт-Петербург','Новосибирск','Екатеринбург','Казань','Нижний Новгород','Красноярск','Челябинск','Самара','Уфа','Ростов-на-Дону','Краснодар','Омск','Воронеж','Пермь','Волгоград')

In [200]:
# текст запроса
query_5_7 = f'''SELECT a.name,
                       COUNT(v.id)
                FROM areas a
                JOIN vacancies v ON a.id = v.area_id
                JOIN employers e ON e.id = v.employer_id
                WHERE (a.name IN ('Москва','Санкт-Петербург','Новосибирск','Екатеринбург','Казань','Нижний Новгород','Красноярск','Челябинск','Самара','Уфа','Ростов-на-Дону','Краснодар','Омск','Воронеж','Пермь','Волгоград'))
                      AND(e.name = 'Яндекс')
                GROUP BY a.id
                UNION ALL
                SELECT
                       'Total',
                       COUNT(v.id)
                FROM areas a
                JOIN vacancies v ON a.id = v.area_id
                JOIN employers e ON e.id = v.employer_id
                WHERE (a.name IN ('Москва','Санкт-Петербург','Новосибирск','Екатеринбург','Казань','Нижний Новгород','Красноярск','Челябинск','Самара','Уфа','Ростов-на-Дону','Краснодар','Омск','Воронеж','Пермь','Волгоград')

                      )AND(e.name = 'Яндекс')
'''

In [201]:
# результат запроса
df = pd.read_sql_query(query_5_7,connection)
print(df)

C:\Users\midadmin\AppData\Local\Temp\ipykernel_9796\4151001761.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_7,connection)

               name  count
0             Total    485
1            Москва     54
2   Санкт-Петербург     42
3      Екатеринбург     39
4       Новосибирск     35
5         Волгоград     24
6           Воронеж     32
7         Краснодар     30
8        Красноярск     23
9   Нижний Новгород     36
10             Омск     21
11            Пермь     25
12   Ростов-на-Дону     25
13           Самара     26
14           Казань     25
15              Уфа     26
16        Челябинск     22

***

In [41]:
# выводы по анализу работодателей

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [42]:
# текст запроса

In [43]:
# результат запроса

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [44]:
# текст запроса

In [45]:
# результат запроса

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [46]:
# текст запроса

In [47]:
# результат запроса

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [48]:
# текст запроса

In [49]:
# результат запроса

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [50]:
# текст запроса

In [51]:
# результат запроса

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [52]:
# текст запроса

In [53]:
# результат запроса

***

In [54]:
# выводы по предметному анализу

# Общий вывод по проекту

In [55]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования