In [2]:
import pandas as pd

countries_data = pd.read_csv('data/countries.csv', sep=';')
countries_data.to_csv('data/countries.txt', index=False, sep=' ')

txt_df = pd.read_table('data/countries.txt', sep=' ', index_col=['country'])

print(txt_df)

           population    square
country
Англия          56.29    133396
Канада          38.05   9984670
США            322.28   9826630
Россия         146.24  17125191
Украина         45.50    603628
Беларусь         9.50    207600
Казахстан       17.04   2724902

In [5]:
data=pd.read_csv('data/ErrorEnCoding.csv', header=None, encoding_errors='replace') 
print(data)

# Импортируем субмодуль chardet.universal
#from chardet.universaldetector import UniversalDetector

#detector = UniversalDetector()

#with open('data/ErrorEnCoding.csv', 'rb') as fh:
#    for line in fh:
#        detector.feed(line)
#        if detector.done:
#            break
#print(detector.close())

            0                           1             2
0   User_943         Accumanst@gmail.com         ������
1   User_908           Advismowr@mail.ru         ������
2   User_962             Anachso@ukr.net      ���������
3   User_973            Antecia@inbox.ru          �����
4   User_902          Balliaryva@ukr.net
..        ...                         ...           ...
95  User_959    UpdatesCurious@yahoo.com         ������
96  User_901          V2artierso@mail.ru    �����������
97  User_970            Vashoterlo@bk.ru        �������
98  User_965         Visuareda@yahoo.com        �������
99  User_921                Aavast@ya.ru         ������

[100 rows x 3 columns]

In [7]:
data=pd.read_csv('data/ErrorEnCoding.csv', encoding='koi8-r', header=None)
print(data)

            0                           1             2
0   User_943         Accumanst@gmail.com         Ижевск
1   User_908           Advismowr@mail.ru         Ижевск
2   User_962             Anachso@ukr.net      Краснодар
3   User_973            Antecia@inbox.ru          Пермь
4   User_902          Balliaryva@ukr.net
..        ...                         ...           ...
95  User_959    UpdatesCurious@yahoo.com         Тюмень
96  User_901          V2artierso@mail.ru    Арзангелтск
97  User_970            Vashoterlo@bk.ru        Воронеж
98  User_965         Visuareda@yahoo.com        Воронеж
99  User_921                Aavast@ya.ru         Ижевск

[100 rows x 3 columns]

In [8]:
data = pd.read_table('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv', sep=',')
print(data)

       Unnamed: 0        Suburb           Address  Rooms Type      Price
0               1    Abbotsford      85 Turner St      2    h  1480000.0  \
1               2    Abbotsford   25 Bloomburg St      2    h  1035000.0
2               4    Abbotsford      5 Charles St      3    h  1465000.0
3               5    Abbotsford  40 Federation La      3    h   850000.0
4               6    Abbotsford       55a Park St      4    h  1600000.0
...           ...           ...               ...    ...  ...        ...
18391       23540  Williamstown   8/2 Thompson St      2    t   622500.0
18392       23541  Williamstown      96 Verdon St      4    h  2500000.0
18393       23544     Yallambie      17 Amaroo Wy      4    h  1100000.0
18394       23545    Yarraville        6 Agnes St      4    h  1285000.0
18395       23546    Yarraville     33 Freeman St      4    h  1050000.0

      Method     SellerG        Date  Distance  ...  Bathroom  Car  Landsize
0          S      Biggin   3/12/2016       2.5  ...       1.0  1.0     202.0  \
1          S      Biggin   4/02/2016       2.5  ...       1.0  0.0     156.0
2         SP      Biggin   4/03/2017       2.5  ...       2.0  0.0     134.0
3         PI      Biggin   4/03/2017       2.5  ...       2.0  1.0      94.0
4         VB      Nelson   4/06/2016       2.5  ...       1.0  2.0     120.0
...      ...         ...         ...       ...  ...       ...  ...       ...
18391     SP        Greg  26/08/2017       6.8  ...       2.0  1.0       NaN
18392     PI     Sweeney  26/08/2017       6.8  ...       1.0  5.0     866.0
18393      S  Buckingham  26/08/2017      12.7  ...       3.0  2.0       NaN
18394     SP     Village  26/08/2017       6.3  ...       1.0  1.0     362.0
18395     VB     Village  26/08/2017       6.3  ...       2.0  2.0       NaN

       BuildingArea  YearBuilt  CouncilArea  Lattitude Longtitude
0               NaN        NaN        Yarra  -37.79960  144.99840  \
1              79.0     1900.0        Yarra  -37.80790  144.99340
2             150.0     1900.0        Yarra  -37.80930  144.99440
3               NaN        NaN        Yarra  -37.79690  144.99690
4             142.0     2014.0        Yarra  -37.80720  144.99410
...             ...        ...          ...        ...        ...
18391          89.0     2010.0          NaN  -37.86393  144.90484
18392         157.0     1920.0          NaN  -37.85908  144.89299
18393           NaN        NaN          NaN  -37.72006  145.10547
18394         112.0     1920.0          NaN  -37.81188  144.88449
18395         139.0     1950.0          NaN  -37.81829  144.87404

                  Regionname  Propertycount
0      Northern Metropolitan         4019.0
1      Northern Metropolitan         4019.0
2      Northern Metropolitan         4019.0
3      Northern Metropolitan         4019.0
4      Northern Metropolitan         4019.0
...                      ...            ...
18391   Western Metropolitan         6380.0
18392   Western Metropolitan         6380.0
18393  Northern Metropolitan         1369.0
18394   Western Metropolitan         6543.0
18395   Western Metropolitan         6543.0

[18396 rows x 22 columns]

In [9]:
data = pd.read_csv('data/students_performance.zip')
print(data)

     gender race/ethnicity parental level of education         lunch
0    female        group B           bachelor's degree      standard  \
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

In [10]:
compression_opts = dict(method='zip', archive_name='out.csv') 
data.to_csv('data/out.zip', index=False, compression=compression_opts)

In [11]:
grades = pd.read_excel('data/grades.xlsx')
print(grades)

   Student ID Student name  Grade
0           1          Аня      8
1           2         Катя      9
2           3         Маша      7
3           4         Миша      4
4           5         Женя      8
5           6          Оля      9
6           7         Витя      8
7           8         Дима      7
8           9         Витя      5

In [ ]:
ratings_data = pd.read_excel('data/ratings_movies.xlsx', sheet_name='ratings')
movies_data = pd.read_excel('data/ratings_movies.xlsx', sheet_name='movies')

rm_data = ratings_data.merge(movies_data,how='left')
print(rm_data)

In [33]:
import json
from pprint import pprint

# Открываем файл и связываем его с объектом "f"
with open('data/recipes.json') as f:  
    # Загружаем содержимое открытого файла в переменную recipes  
    recipes = json.load(f)
    # Выводим на экран содержимое переменной recipes, используя функцию pprint()
#pprint(recipes)

#print(recipes[:][131:13122])

for i in range(len(recipes)):
    if recipes[i]['id'] == 13121:
        print(recipes[i]['cuisine'])
        break

thai